@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
*{margin: 0; padding: 0; font-family: 'Raleway', sans-serif;}
body,html {
    height: 100%;
    background-image:url('planina.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
 
}

.banner{
    height: 100 vh;
    width: 100%;
}

.banner .navbar{
    margin-top: 2%;
}
.banner .navbar-brand{
    color:#fff;
    font-size:1.8em ;
    margin-left: 10%;
}
.banner .navbar-brand a{
    text-decoration: none;
    color:#fff;

}
.banner .nav{
    margin-right: 10%;
}

.banner .nav ul li{
    font-size: 1.2em;
}
.banner .nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    margin-left: 2px;
}
.banner .nav-item a:hover{
    color:#fff;
    border: 1px solid;
    border-radius: 4px;
}


.title {
  font-size: 35px;
}



.back-card {
  border-radius: 35px !important;

}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 16pt;
  font-weight: 400;
}

.city-name span {
  font-weight: 400;
  font-size: 36pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
}

.temp span {
    color: rgb(97, 97, 97);
  font-weight: 100;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;

}
.card-mid {
  line-height: 0.5;
}
.condition-temp{
    color:rgb(97, 97, 97);
}
.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}
.high::before {
  content: '';
  background: url('img/up.svg') no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.low::before {
  content: '';
  background: url('img/down.svg') no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.icon-container {
    margin-top: 20px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #202020;
}
.icon-container img {
  margin: auto;
}

.card-bottom {
    margin-top: 20px;
  line-height: 0.5;
  color:rgb(97, 97, 97);
}
.card-bottom span {
  font-size: 12px;
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -2px;
}
